body{
    margin: 0px;
    padding: 0px;
    
    background-color: #2C2C2C;
    
}
.titulo-principal{
    color: #fff ;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 5px;
    padding: 0px;
}

.ul-principal{
    background-color: #333;
    margin: auto;
    padding: 0px;
    
}


.listas-ul{
    list-style: none;
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    text-align: center;
}



.botones-li{
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding: 15px 19px;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;
}

.botones-li:visited{
    color: #fff;
    text-decoration: none;
}

.botones-li:hover{
    background-color: #F5F5F5;
    color: #000;
}

.articulo{
    margin: auto;
}
.articulo h2{
    color: #fff;
    text-align: center;
}
.articulo p{
    color: #fff;
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;

}

.boton-inicio{
    padding: auto;
    text-align: center;
}

.contenedor-img{
    width: 100%;
    height: 100%;
}
.contenedor-img h2{
    font-size: 2em;
    color: #fff ;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    margin: auto;
    padding: 0px;
}

.imagen-cont{
    width: 100%;
    height: 100%;
    margin: 25px 25px 25px 0;
}

.img-html5{
    max-width: 100%;
    width: 50%;
    height: 50%;
    margin-left: 25%;
    display: block;

}


.art3-sec2 p{
    color: #fff;
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
}

.mas-cont{
    background-color: #303030;
}

.titulo-footer{
    font-size: 2em;
    text-align: left;
    color: #fff;
    max-width: 100%;
    width: 100%;

}


.link-fb{
    text-decoration: none;
    font-size: 2em;
}
.link-fb:visited{
    text-decoration: none;
    color: #3677FF;
}

.link-fb:hover{
    color: #0088FF;
}

.link-tw{
    text-decoration: none;
    font-size: 2em;
    color: #008BFF;
}
.link-tw:visited{
    text-decoration: none;
    color: #008BFF;
}

.link-tw:hover{
    color: #65D1FF;
}

.link-dc{
    color: #616161;
    text-decoration: none;
    font-size: 2em;
}
.link-dc:visited{
    text-decoration: none;
    color: #616161;
}

.link-dc:hover{
    color: #787878;
}

.link-ig{
    text-decoration: none;
    font-size: 2em;
    color:#EA68FF;
}

.link-ig:visited{
    text-decoration: none;
    font-size: 2em;
    color:#EA68FF;
}
.link-ig:hover{
    color: #FFB9FB;
}

footer a{
    margin-right: 1em;
    display: inline-block;
}

.ultimate{
    color: #ffff;
    text-align: center;
}

.img-banner{
    width: 10%;
    height: 20%;
    margin: auto;
    display: block;
    text-align: center;
}
.cont-figure{
    margin: auto;

}

.titulo-main{
    color: #fff;
    font-size: 30px;
    text-align: center;
}

.subtitulo{
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.section-main{
    margin: 0;
}
.icono-flecha-abajo{
    text-decoration: none;
    color: #000;
    text-align: center;
    font-size: 80px;
}

.icono-flecha-abajo:visited{
    text-decoration: none;
    color: #000;

}

.icono-flecha-abajo:hover{
    color: #FFFFFF;
}
.section-img{
    text-align: center;
}



.formulario-main{
    margin-top: 1em;
    text-align: center;
}

.secciones-form{
    margin-bottom: 1em;
    margin-top: 1em;
}

.inputs{
    width: 180px;
    color: #000;
    font-size: 20px;
    font-style:normal;
    margin-right: 1em;
    margin-bottom: 1em;
}

.input-correo{
    width: 180px;
    color: #000;
    font-size: 20px;
    font-style:normal;
}

.textarea-main{
    margin-top: 1em;
    font-size: 20px;
    color: #000;
}

.boton-enviar{
    text-align: center;
    font-size: 20px;
}

.boton-enviar:hover{
    background-color: #333;
    color: #fff;
    
}

.gracias-main{
    color: #fff;
    text-align: center;
    font-size: 3em;
}

.hands{
    width: 500px;
    height: 350px;
    margin: auto;
    display: inline-block;
}

.img-cont{
    text-align: center;
}

.html5{
    text-align: center;
    
    width: 400px;
    margin-right: 2%;
    display: inline-block;
}

.icono-html5{
    font-size: 100px;
    color: #fff;
}

.cont-serv{
    text-align: center;
    margin-top: 5%;
}

.main-title-services{
    color: #fff ;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 10px;
    padding: 0px;
}

.css3-logo{
    font-size: 100px;
    color: #fff;
}

.js-logo{
    font-size: 100px;
    color: #fff;
}

.css3{
    text-align: center;
    
    width: 400px;
    margin-right: 2%;
    display: inline-block;
}

.js{
    text-align: center;
    width: 400px;
    margin-right: 2%;
    display: inline-block;
}

.parrafo-article{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    color: #fff;

}


.css3-logo:hover{
    font-size: 100px;
    color: #7A7A7A;
}

.js-logo:hover{
    font-size: 100px;
    color: #7A7A7A;
}

.icono-html5:hover{
    font-size: 100px;
    color: #7A7A7A;
}